# Существующие исключения
node_modules/
.vscode/
spec/
test/
*

# Файлы конфигурации
.prettierrc.js
.eslintrc.js
tsconfig.json
tslint.json
.travis.yml

# Файлы сборки и задач
rollup.*.js
Gruntfile.js
Makefile
Cakefile
Rakefile

# Другие файлы
.gitignore
.rpt2_cache
CHANGELOG.md

# Включения
!src/**/*
!dist/**/*
!package.json
!README.md

# Исключение тестовых файлов из dist
dist/**/*.test.*